<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.aheze.bt-switch-macbook</string>

    <key>ProgramArguments</key>
    <array>
        <string>/bin/bash</string>
        <string>/usr/local/bin/bt-switch-macbook.sh</string>
    </array>

    <!-- Restart automatically if the script exits -->
    <key>KeepAlive</key>
    <true/>

    <!-- Start at login -->
    <key>RunAtLoad</key>
    <true/>

    <key>StandardOutPath</key>
    <string>/tmp/bt-switch-macbook.log</string>

    <key>StandardErrorPath</key>
    <string>/tmp/bt-switch-macbook.log</string>
</dict>
</plist>
